@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Boxmodel" />
    <title>The Exams Office</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/compiled.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/validation.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="mediaCheck"></div>
    <div id="pushtop"></div>

    <header>
        <div id="header__top">
            <a href="#" id="navigation__trigger"><span></span></a>
            <a href="~/grants">
                <img src="~/images/logos/main__logo.svg" alt="The Exams Office" class="main__logo" />
            </a>
        </div>
    </header>

    <nav id="sidenav">
        <div class="close">
            <img src="~/images/icons/close.svg" alt="Close" />
        </div>
        <div class="links">
            @if (!string.IsNullOrWhiteSpace(name))
            {
                <a href="/Grants" class="active">@name</a>
                <a asp-action="Logout" asp-controller="Account">Logout</a>
            }
            else
            {
                <a href="/Account/Login" class="active">Login</a>
            }
        </div>
    </nav>

    <div id="full__wrapper">
        <div id="breadcrumbs">
            <div class="row">
                <div class="col col__spantwelve">
                    <div class="col__evenpad">
                        <ul class="inline__list">
                            @if (!string.IsNullOrWhiteSpace(name))
                            {
                                <li>
                                    <a href="/Grants/Index">My Account</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Account/Login">My Account</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div class="content__contain">
                <div class="divider__block">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/identity.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
