@model RequestPasswordResetViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form asp-route="Login" class="fill__form margin__top">
    <input type="hidden" asp-for="ReturnUrl" />
    <h4>Request Password Reset: Confirmation</h4>
    <div class="formrow fill cf">
        <p>
            We have sent an email to your registered email address to allow for you to reset your password.
        </p>
        <p>
            Please click on the link within the email to progress to the reset password steps.
        </p>
    </div>
    <div class="align__right">
        <a asp-controller="Account" asp-action="Login" class="link">Back to Login</a>
    </div>
</form>