@model RequestPasswordResetViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form asp-route="Login" class="fill__form margin__top">
    <input type="hidden" asp-for="ReturnUrl" />
    <h4>Resend Activation Email: Confirmation</h4>
    <div class="formrow fill cf">
        <p>
            If the email address entered was found, we will send a new activate account email.
        </p>
        <p>
            Please click on the link within the email to complete your activation.
        </p>
    </div>
    <div class="align__right">
        <a asp-controller="Account" asp-action="Login" class="link">Back to Login</a>
    </div>
</form>