@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form asp-route="Login" class="fill__form margin__top">
    <input type="hidden" asp-for="ReturnUrl" />
    <h4>Reset your Password: Confirmation</h4>
    <div class="formrow fill cf">
        <p>
            Your password has been successfully changed. Please proceed to the log in screen now.
        </p>
    </div>
    <div class="align__right">
        <a asp-controller="Account" asp-action="Login" class="link">Login Now</a>
    </div>
</form>