<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("")'>Dashboard</a>
            </li>
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("admin/report-dashboard")'>Report Dashboard</a>
            </li>
            <li>
              <span>Assessments</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <div class="page__header">
          <img src="/assets/images/icons/assessments.svg" alt="Settings" />
          <h5>Reporting</h5>
        </div>
        <h4>Assessments</h4>
        <app-reporting-assessment-list></app-reporting-assessment-list>
      </div>
    </div>
  </main>
</div>