<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("")'>Dashboard</a>
            </li>
            <li>
              <span>My Account Details</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <div class="page__header">
          <img src="/assets/images/icons/users.svg" alt="My Account Details" />
          <h5>My Account Details</h5>
        </div>
        <p>Please view your account details below:</p>
        <app-edit-profile></app-edit-profile>
      </div>
    </div>
  </main>
</div>