<div class="list__item">
  <div class="row">
    <div class="col col__spanfour">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Year</h5>
          <p>{{setting.yearID}}</p>
        </div>
      </div>
    </div>
    <div class="col col__spanfive">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Display</h5>
          <p>{{setting.display}}</p>
        </div>
      </div>
    </div>
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <a href="JavaScript:void(0);" (click)='goToItem()' class="btn btn__details">Edit Academic Year</a>
        </div>
      </div>
    </div>
  </div>
</div>