<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("")'>Dashboard</a>
            </li>
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("admin/web")'>Web Content</a>
            </li>
            <li>
              <span>Edit Page</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <app-web-edit-form [id]="id"></app-web-edit-form>
      </div>
    </div>
  </main>
</div>