<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("")'>Dashboard</a>
            </li>
            <li>
              <span>{{pageTitle}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <div class="page__header">
          <img src="/assets/images/icons/assessments.svg" alt="Web Content" />
          <h5>{{pageTitle}}</h5>
        </div>
        <div class="row divider__block__small">
          <div class="col col__spantwelve">
            <div class="col__evenpad">
              <div class="height__check">
                <div [innerHTML]="pageContent | safeHtml" class="tiny_page"></div>
                <div class="spinner small" *ngIf="actionPending"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>