<div class="listing">

  <div class="list__item">
    <div class="row">
      <div class="col col__spanthree">
        <div class="col__evenpad">
          <div class="list__info">
            <h5>Question Number</h5>
            <p>{{item.number}}</p>
          </div>
        </div>
      </div>
      <div class="col col__spanthree">
        <div class="col__evenpad">
          <div class="list__info">
            <h5>Question Title</h5>
            <p>{{item.title}}</p>
          </div>
        </div>
      </div>
      <div class="col col__spanthree">
        <div class="col__evenpad">
          <div class="list__info">
            <h5>Count of Correct Answers</h5>
            <p>{{item.correctAnswers}}</p>
          </div>
        </div>
      </div>
      <div class="col col__spanthree">
        <div class="col__evenpad">
          <div class="list__info">
            <h5>Count of Incorrect Answers</h5>
            <p>{{item.incorrectAnswers}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>