<form [formGroup]="addInvigilatorForm" class="fill__form" novalidate #mainForm>
  <div class="alert alert-account-success" *ngIf="updateOk">
    <strong>Success!</strong> New account has been successfully initialised.
  </div>
  <div class="alert alert-account-danger" [innerHtml]="error" *ngIf="!!error"></div>
  <div class="alert alert-account-info" [innerHtml]="info" *ngIf="!!info"></div>
  <div class="row">
    <div class="col col__spansix">
      <div class="row row__negative20">
        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">First Name<em>*</em></label>
              <input type="text" class="primary" name="FirstName" id="FirstName" placeholder="Please enter a first name"
                [formControl]="addInvigilatorForm.controls['FirstName']" />
              <validation-message fieldName="FirstName"></validation-message>
            </div>
          </div>
        </div>
        <div class="col col__spantwelve">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Surname<em>*</em></label>
              <input type="text" class="primary" name="Surname" id="Surname" placeholder="Please enter a surname"
                [formControl]="addInvigilatorForm.controls['Surname']" />
              <validation-message fieldName="Surname"></validation-message>
            </div>
          </div>
        </div>
        <div class="col col__spantwelve">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Email Address<em>*</em></label>
              <input type="email" class="primary" name="Email" id="Email" placeholder="Please enter an email address"
                [formControl]="addInvigilatorForm.controls['Email']" />
              <validation-message fieldName="Email"></validation-message>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!updateOk && !actionPending" class="formrow fill cf">
        <button class="btn btn__standard" type="submit" (click)="submitForm('AddOne')" >
          Add invigilator
        </button>
      </div>
      <div *ngIf="updateOk && canAddMore && !actionPending" class="formrow fill cf">
        <button class="btn btn__standard btn__action" type="submit" (click)="addAnother()" >
          Add another invigilator
        </button>
      </div>
      <div *ngIf="!actionPending" class="formrow fill cf">
        <button class="btn btn__standard btn__cancel" type="button" (click)="cancelForm()" >
          Back to listing
        </button>
      </div>
      <div class="spinner small" *ngIf="actionPending"></div>
    </div>
  </div>
</form>