@model ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form asp-route="Login" class="fill__form margin__top">
    <input type="hidden" asp-for="ReturnUrl" />
    <h4>Change your Password: Confirmation</h4>
    <div class="formrow fill cf">
        <p>
            Your password has been successfully changed.
        </p>
    </div>
    <div class="align__right">
        <a href="@Model.ReturnUrl" class="link">Return to application</a>
    </div>
</form>