################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsClient/obj
/JsClient/bin/Debug/netcoreapp2.1
/Mav.API/obj
/Mav.API/bin/Debug/netcoreapp2.1
/Mav.IDP/obj
/Mav.IDP/bin/Debug/netcoreapp2.1
/Mav.Data/obj
/Mav.Data/bin/Debug/netcoreapp2.1
/.vs/Mav/v15/Server/sqlite3
/Mav.Data/bin/Release/netcoreapp2.1
/Mav.API/bin/Release/netcoreapp2.1
/JsClient/bin/Release/netcoreapp2.1
/Mav.IDP/bin/Release/netcoreapp2.1
/Mav.ExamOfficeWeb/bin/Debug/netcoreapp2.1
/Mav.ExamOfficeWeb/obj
/Mav.Models/obj
/Mav.Models/bin/Debug/netcoreapp2.1
/Mav.Services/obj
/Mav.Services/bin/Debug/netcoreapp2.1
/Mav.Common/bin/Debug/netcoreapp2.1
/Mav.Common/obj
/Mav.UI/Release
/Mav.Common/bin/Release/netcoreapp2.1
/Mav.Models/bin/Release/netcoreapp2.1
/Mav.Services/bin/Release/netcoreapp2.1
/.vs/Mav/DesignTimeBuild/.dtbcache
/Mav.Services.Identity/bin/Debug/netcoreapp2.1
/Mav.Services.Identity/obj
/Mav.Services.Test/bin/Debug/netcoreapp2.1
/Mav.Services.Test/obj
/Mav.Web/bin/Debug/netcoreapp2.1
/Mav.Web/obj
/Mav.Services.Identity/bin/Release/netcoreapp2.1
/Releases
/.vs/Mav/v16
/.vs/TEOAssessmentPortal/v16
/.vs
Mav.UI/Mav.Ui/package-lock.json
Mav.UI/Mav.Ui/package-lock.json
Mav.UI/Mav.Ui/package-lock.json
/packages
