<div id="options" class="row divider__block__small">

  <div class="col col__spanthree">
    <div class="col__evenpad">
      <div class="search">
        <a *ngIf="!submitting" href="JavaScript:void(0);" (click)='downloadCsv()' class="btn btn__details">Download Reports as CSV</a>
        <a *ngIf="submitting" href="Javascript:void(0);" class="btn btn__details btn_disabled">Download Reports as CSV</a>
      </div>
    </div>
  </div>

  <div class="col col__spanthree col__offbythree">
    <div class="col__evenpad">
      <div class="search">
        <select (change)="setOrder($event.target.value)" class="grey">
          <option selected disabled value="1">Order by Section Number</option>
          <option [value]="1">Order by Section Number</option>
          <option [value]="2">Order by Attempts (asc)</option>
          <option [value]="3">Order by Attempts (desc)</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col col__spanthree">
    <div class="col__evenpad">
      <div class="search">
        <div class="search__wrapper">
          <input class="search__bar" type="search" name="searchTerms" #searchTerms />
          <a href="JavaScript:void(0);" (click)="newSearch(searchTerms)" class="search__icon"><img src="/assets/images/icons/search.svg"
              alt="Search" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="listing">

  <app-reporting-assessment-sections-list-item *ngFor="let section of searchModel" [section]="section"></app-reporting-assessment-sections-list-item>

  <div class="list__item" *ngIf="count === 0">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <div class="list__info">
            <p>{{loadingText}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>