<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("")'>Dashboard</a>
            </li>
            <li>
              <span>List of SLT Users</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <div class="page__header">
          <img src="/assets/images/icons/users.svg" alt="Users" />
          <h5>SLT Users</h5>
        </div>
        <app-SLTs-list></app-SLTs-list>
      </div>
    </div>
  </main>
</div>