<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <span>Unauthorised</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <div class="page__header">
          <img src="/assets/images/icons/assessments.svg" alt="Unauthorised" />
          <h5>Unauthorised</h5>
        </div>
        <div class="row divider__block__small">
          <div class="col col__spantwelve">
            <div class="col__evenpad">
              <div class="height__check">
                <p class="bold">The Exams Office - Unauthorised</p>
                <p>Unauthorised: Access Denied</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>