<form [formGroup]="editOrgForm" (ngSubmit)="submitForm()" class="fill__form" novalidate #mainForm>
  <div class="alert alert-account-success" *ngIf="updateOk">
    <strong>Success!</strong> Licence has been successfully updated.
  </div>
  <div class="alert alert-account-danger" [innerHtml]="error" *ngIf="error"></div>
  <div class="alert alert-account-info" [innerHtml]="info" *ngIf="info"></div>
  <div class="row">
    <div class="col col__spansix">
      <div class="row row__negative20">

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Organisation Name<em>*</em></label>
              <input type="text" class="primary" name="OrganisationName" id="OrganisationName" placeholder="Please enter an organisation name"
                [formControl]="editOrgForm.controls['OrganisationName']" />
              <validation-message fieldName="OrganisationName"></validation-message>
            </div>
          </div>
        </div>
        <div class="col col__spansix">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Organisation Type<em>*</em></label>
              <mat-select placeholder="Organisation Type" (selectionChange)="updateCentreLimit()"
                  name="TypeID" id="TypeID" [formControl]="editOrgForm.controls['TypeID']">
                    <mat-option *ngFor="let item of orgTypes" [value]="item.id">
                    {{ item.name }}
                    </mat-option>
              </mat-select>
              <validation-message fieldName="TypeID"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spansix">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Centre Limit<em>*</em> (default centre limit is defined for organisation type)</label>
              <input type="number" class="primary" name="CentreLimit" id="CentreLimit" placeholder="Please specify a centre limit"
                [formControl]="editOrgForm.controls['CentreLimit']" />
              <validation-message fieldName="CentreLimit"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Address Line 1<em>*</em></label>
              <input type="text" class="primary" name="AddressLine1" id="AddressLine1" placeholder="Please enter an address"
              [formControl]="editOrgForm.controls['AddressLine1']" />
              <validation-message fieldName="AddressLine1"></validation-message>
              <input type="text" class="primary" name="AddressLine2" id="AddressLine2" placeholder="Please enter an address"
              [formControl]="editOrgForm.controls['AddressLine2']" />
              <validation-message fieldName="AddressLine2"></validation-message>
              <input type="text" class="primary" name="AddressLine3" id="AddressLine3" placeholder="Please enter an address"
              [formControl]="editOrgForm.controls['AddressLine3']" />
              <validation-message fieldName="AddressLine3"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Main Contact Name<em>*</em></label>
              <input type="text" class="primary" name="MainContactName" id="MainContactName" placeholder="Please enter an main contact name"
                [formControl]="editOrgForm.controls['MainContactName']" />
              <validation-message fieldName="MainContactName"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Main Contact Email<em>*</em></label>
              <input type="text" class="primary" name="MainContactEmail" id="MainContactEmail" placeholder="Please enter a main contact email"
                [formControl]="editOrgForm.controls['MainContactEmail']" />
              <validation-message fieldName="MainContactEmail"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Lead Financial Name<em>*</em></label>
              <input type="text" class="primary" name="LeadFinancialName" id="LeadFinancialName" placeholder="Please enter a lead financial name"
                [formControl]="editOrgForm.controls['LeadFinancialName']" />
              <validation-message fieldName="LeadFinancialName"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Lead Financial Email<em>*</em></label>
              <input type="text" class="primary" name="LeadFinancialEmail" id="LeadFinancialEmail" placeholder="Please enter a lead financial email"
                [formControl]="editOrgForm.controls['LeadFinancialEmail']" />
              <validation-message fieldName="LeadFinancialEmail"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve" data-type="main">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Lead Financial Telephone Number<em>*</em></label>
              <input type="text" class="primary" name="LeadFinancialNumber" id="LeadFinancialNumber" placeholder="Please enter a lead financial number"
                [formControl]="editOrgForm.controls['LeadFinancialNumber']" />
              <validation-message fieldName="LeadFinancialNumber"></validation-message>
            </div>
          </div>
        </div>
      </div>

      <div class="formrow fill cf">
        <div *ngIf="!actionPending">
          <button class="btn btn__standard" type="submit">
            Save Changes 
            <i *ngIf="!actionPending && (updateOk || !!error)" class="fa" [ngClass]="{'fa-thumbs-o-up':updateOk, 'fa-thumbs-o-down':error.length > 0}" aria-hidden="true"></i>
          </button>
        </div>
        <div class="spinner small" *ngIf="actionPending"></div>
      </div>
      <div *ngIf="!actionPending"class="formrow fill cf">
          <button class="btn btn__standard delete trigger__modal" data-modaltype="del_centretype_modal">
              Delete Organisation
          </button>
      </div>
      <div *ngIf="!actionPending" class="formrow fill cf">
        <button class="btn btn__standard btn__cancel" type="button" (click)="cancelForm()" >
          Back to Organisation Details
        </button>
      </div>
    </div>
  </div>
</form>
<section id="myModal" class="modal" data-modaltype="del_centretype_modal">
    <div id="modal__content">
        <span class="closeModal">&times;</span>
        <h2>Delete Organisation</h2>
        <p>Are you sure you want to delete this organisation?</p>
        <div class="row buttons">
            <div class="col col__spansix">
                <div class="col__evenpad">
                    <a *ngIf="!actionPending" href="JavaScript:void(0);" (click)='performDelete()' class="btn btn__standard delete cancel">Delete Organisation</a>
                    <div class="spinner small" *ngIf="actionPending"></div>
                </div>
            </div>
            <div class="col col__spansix">
                <div class="col__evenpad">
                    <a href="#" class="btn btn__standard cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>