@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="welcome-page">
    <div class="row">
        <div class="col-sm-8">
            <p>
                <a href="~/grants">Click here</a> to manage your stored grants.
            </p>
        </div>
    </div>
</div>
