<div class="list__item">
  <div class="row">
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Organisation Type</h5>
          <p>{{setting.name}}</p>
        </div>
      </div>
    </div>
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Centre Limit</h5>
          <p>{{setting.centreLimit}}</p>
        </div>
      </div>
    </div>

    <div class="col col__spanthree col__offbythree">
      <div class="col__evenpad">
        <div class="list__info">
          <a href="JavaScript:void(0);" (click)='goToItem()' class="btn btn__details">Edit Organisation Type</a>
        </div>
      </div>
    </div>
  </div>
</div>