<form [formGroup]="editLicenceForm" (ngSubmit)="submitForm()" class="fill__form" novalidate #mainForm>
  <div class="alert alert-account-success" *ngIf="updateOk">
    <strong>Success!</strong> Licence has been successfully updated.
  </div>
  <div class="alert alert-account-danger" [innerHtml]="error" *ngIf="error"></div>
  <div class="alert alert-account-info" [innerHtml]="info" *ngIf="info"></div>
  <div class="row">
    <div class="col col__spansix">
      <div class="row row__negative20">

        <div class="col col__spantwelve">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Max Centres<em>*</em> (default centre limit is defined by the organisation type)</label>
              <input type="number" class="primary" name="MaxCentres" id="MaxCentres" placeholder="Please specify the number of max centres for the licence"
                [formControl]="editLicenceForm.controls['MaxCentres']" />
              <validation-message fieldName="MaxCentres"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Cost (£)<em>*</em></label>
              <input type="number" class="primary" name="Cost" id="Cost" placeholder="Please specify the cost of the licence"
                [formControl]="editLicenceForm.controls['Cost']" />
              <validation-message fieldName="Cost"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Academic Year<em>*</em></label>
              <mat-select placeholder="Academic year"
                  name="AcademicYear" id="AcademicYear" [formControl]="editLicenceForm.controls['AcademicYear']">
                    <mat-option *ngFor="let item of yearList" [value]="item.yearID">
                    {{ item.display }}
                    </mat-option>
              </mat-select>
              <validation-message fieldName="AcademicYear"></validation-message>
            </div>
          </div>
        </div>

        <div class="col col__spantwelve">
          <div class="col__evenpad">
            <div class="formrow fill cf">
              <label class="primary">Paid?<em>*</em> (specify whether this licence has been paid for or not)</label>
              <input type="checkbox" class="primary" name="Paid" id="Paid"
                [formControl]="editLicenceForm.controls['Paid']" />
              <validation-message fieldName="Paid"></validation-message>
            </div>
          </div>
        </div>

      </div>
      <div class="formrow fill cf">
        <div *ngIf="!actionPending">
          <button class="btn btn__standard" type="submit">
            Save Changes and Enable
            <i *ngIf="!actionPending && (updateOk || !!error)" class="fa" [ngClass]="{'fa-thumbs-o-up':updateOk, 'fa-thumbs-o-down':error.length > 0}" aria-hidden="true"></i>
          </button>
        </div>
        <div class="spinner small" *ngIf="actionPending"></div>
      </div>
      <div class="formrow fill cf">
        <div *ngIf="!actionPending">
          <button class="btn btn__standard" type="button" (click)="saveChangedDisabled()">
            Save Changes and Don't Enable
            <i *ngIf="!actionPending && (updateOk || !!error)" class="fa" [ngClass]="{'fa-thumbs-o-up':updateOk, 'fa-thumbs-o-down':error.length > 0}" aria-hidden="true"></i>
          </button>
        </div>
        <div class="spinner small" *ngIf="actionPending"></div>
      </div>
      <div *ngIf="!actionPending"class="formrow fill cf">
          <button class="btn btn__standard delete trigger__modal" data-modaltype="del_centretype_modal">
              Delete Licence
          </button>
      </div>
      <div *ngIf="!actionPending" class="formrow fill cf">
        <button class="btn btn__standard btn__cancel" type="button" (click)="cancelForm()" >
          Back to Organisation Details
        </button>
      </div>
    </div>
  </div>
</form>
<section id="myModal" class="modal" data-modaltype="del_centretype_modal">
    <div id="modal__content">
        <span class="closeModal">&times;</span>
        <h2>Delete Licence</h2>
        <p>Are you sure you want to delete this licence?</p>
        <div class="row buttons">
            <div class="col col__spansix">
                <div class="col__evenpad">
                    <a *ngIf="!actionPending" href="JavaScript:void(0);" (click)='performDelete()' class="btn btn__standard delete cancel">Delete Licence</a>
                    <div class="spinner small" *ngIf="actionPending"></div>
                </div>
            </div>
            <div class="col col__spansix">
                <div class="col__evenpad">
                    <a href="#" class="btn btn__standard cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>