<div id="full__wrapper">
  <div id="breadcrumbs">
    <div class="row">
      <div class="col col__spantwelve">
        <div class="col__evenpad">
          <ul class="inline__list">
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("")'>Dashboard</a>
            </li>
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("admin/report-dashboard")'>Report Dashboard</a>
            </li>
            <li>
              <a href="JavaScript:void(0);" (click)='goToComponent("admin/reporting-centre")'>Centre Reports</a>
            </li>
            <li>
              <span>Details</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="content__contain">
      <div class="divider__block">
        <div class="page__header">
          <img src="/assets/images/icons/assessments.svg" alt="Assessment Section Report" />
          <h5>Reporting</h5>
        </div>
        <h4>Centre Details</h4>
        <div class="listing">
          <!--<app-reporting-centre-info-list ngValue="centreModel" *ngModel="centreModel" [centreModel]="centreModel"></app-reporting-centre-info-list>-->
          
          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Centre Name</h5>
                    <p>{{centreModel.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Centre Number</h5>
                    <p>{{centreModel.number}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Count of Users</h5>
                    <p>{{centreModel.usersCount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Count of Assessments Started</h5>
                    <p>{{centreModel.assStartedCount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Count of Assessments Not Started</h5>
                    <p>{{centreModel.assNotStartedCount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Count of Assessments Completed</h5>
                    <p>{{centreModel.assCompletedCount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Count of Minimum Score Gained</h5>
                    <p>{{centreModel.minScoreGainedCount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list__item">
            <div class="row">
              <div class="col col__spantwo">
                <div class="col__evenpad">
                  <div class="list__info">
                    <h5>Count of Minmum Score Not Gained</h5>
                    <p>{{centreModel.minScoreNotGainedCount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </main>
</div>