<div class="list__item">
  <div class="row">
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Number</h5>
          <p>{{section.number}}</p>
        </div>
      </div>
    </div>
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Title</h5>
          <p>{{section.title}}</p>
        </div>
      </div>
    </div>
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <h5>Attempts</h5>
          <p>{{section.attempts}}</p>
        </div>
      </div>
    </div>
    <div class="col col__spanthree">
      <div class="col__evenpad">
        <div class="list__info">
          <a href="JavaScript:void(0);" (click)='goToItem()' class="btn btn__details">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>