@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="welcome-page">
    <div class="row">
        <div class="col-sm-8">
            <h4>Registration: Verification Required</h4>
            <p>
                <strong>You're almost there!</strong> We have sent an email to your registered email address to allow for you to verify your account.
            </p>
            <p>
                Please click on the link within the email to complete your registraion.
            </p>
        </div>
    </div>
</div>
